.container {
    color: rgb(67, 86, 38);
    margin: 0 auto;
    width: max-content;
    display: flex;
    flex-direction: column;
}

.header {
    width: max-content;
    margin: 0 auto 20px auto;
}

.button-grid{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
}